media only screen and (max-with: 768px) {
/*@media only screen and (orientation:portrait) {*/
    body {
      height: 100vw;
      width: 100vh;
    }
    canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid black;
      z-index: 1;
      width: 600px;
      height: 360px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 10px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }
  }
/*}*/

@media only screen and (min-width: 768px) {

}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
  color: white
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  z-index: 1;
  width: 600px;
  height: 360px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
